main {
    align-items: center;
}

#site_maintainer_img{
    border-radius: 15px;
    width: 100px;
}

li {
    list-style-type: none;
}

.logo {
    width: 40px;
}

ol {
    background-color: lightgrey;
}