h1 {
    font-family: helvetica;
    font-size: 35px;
}

h2 {
    font-family: helvetica;
    font-size: 25px;
}

li {
    list-style-type: circle;
}

img {
    width: 175px;
}

nav{
    background-color: lightgrey;
}