* {
    font-family: Helvetica;
}

header {
    background-color: rgb(46, 45, 45);
}

footer {
    background-color: rgb(46, 45, 45);
}

body {
    background-color:rgb(46, 45, 45);
}
main{
    background-color:rgb(46, 45, 45);
}

h1 {
    color: rgb(148, 57, 47);
}

h2 {
    color: rgb(148, 57, 47);
}

nav ul li a:hover {
    color: rgb(148, 57, 47);
}

ul li {
    list-style-type: none;
}
